.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    text-align: center;
    padding: 6vw 0 15vw;
}
  
.signupPageHeader {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 50px
}
  
.signupFormContainer {
    margin-bottom: 20px;
}
  
.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.fullNameInput,
.userNameInput,
.emailInput,
.passwordInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.userSignupButton {
    padding: 10px 20px;
    font-size: 16px;
}  