.sellContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    text-align: center;
    padding: 6vw 0 15vw;
}
  
.sellPageHeader {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 50px
}
  
.sellPageParagraph {
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
  
.sellFormDiv {
    margin-bottom: 20px;
}
  
.sellPageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.usernameInput,
.userPasswordInput {
    min-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.userLoginSubmitButton {
    margin-top: 0px;
}
  
.newSellerParagraph {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
  
.userSignupRedirect {
    border: 2px solid rgb(255, 255, 255);
}

.userSignupRedirect:hover {
    background-color: rgb(255, 255, 255)1d;
}