.pageFooter {
    padding: 15px;
    text-align: center;
    background-color: rgb(22, 22, 22);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerSmallPrint {
    color: rgba(255, 255, 255, 0.8);
}

.footerSmallPrint Link {
    color: rgb(242, 242, 109);
    text-decoration: none;
}

.footerSmallPrint:hover{
    color: rgb(241, 241, 203);
}

.footerLink {
    height: 100px;
    width: 100px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .footerLink {
    height: 80px;
    width: 80px;
    padding: 5px;
    }

    .pageFooter {
        height: auto;
        width: auto;
        margin: auto;
        padding: 10px;
    }

}