html, .body {
    height: 100%;
    margin: 0;
  }


.home-hero {
    margin: 0;
    padding-top: 8vw;
    padding-bottom: 10vw;
    background: linear-gradient(345deg, rgba(214, 238, 2, 0.616), rgba(2, 97, 160, 0.959)), url('../../../public/assets/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
}

.hero-logo {
    display: block;
    margin:0 auto;
    max-width: 500px;
    width: 60vw;
}

.home-page-header {
    font-size: 3.5vw;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 6vw 0 4vw;
}

.logo, .electric {
    height: 100px;
    width: 100px;
    
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.second-page-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
}



@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-1px); }
    50% { transform: translateX(1px); }
    75% { transform: translateX(-1px); }
  }
  
  .shake-on-hover:hover {
    animation: shake 0.35s;
    animation-iteration-count: 1;
  }

/* MOBILE STYLES */
@media (max-width: 768px) {
    .home-page-paragraph {
      font-size: 5.5vw;
    }
  
    .second-page-paragraph {
      font-size: 4vw;
    }
  
    .home-hero {
      padding-top: 15vw;
      padding-bottom: 15vw;
    }
  
    .two-columns-section {
      flex-direction: column;
    }
  
    .left-column {
      display: none;
    }
  
    .right-column {
      padding: 0 0 40px;
      display: flex;
      flex-direction: column; /* Add this to stack the elements */
      align-items: center; /* Center the elements horizontally */
    }
  
    .cta-header {
        text-align: center;
    }

    .cta-body {
        text-align: center;
    }

    .icons-column {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }

    .icons-column-image {
        display: block;
        width: 60px;
        height: auto;
        margin: 0 auto;
    }
    
    .icons-column-title {
    font-size: 1.25rem;
    margin-bottom: 5px;
    font-weight: 400;
    }
  }

/* WIDESCREEN STYLES */
@media screen and (min-width: 1920px) {
    .home-page-paragraph {
        font-size: 60px;
    }

    .second-page-paragraph {
        font-size: 40px;
    }
    
    .home-hero {
        padding-top: 8vw;
        padding-bottom: 8vw;
    }
}