.body {
    height: 100%;
    margin: 0;
  }


.homeHero {
    margin: 0;
    padding-top: 8vw;
    padding-bottom: 10vw;
    background: linear-gradient(345deg, rgba(214, 238, 2, 0.616), rgba(2, 97, 160, 0.959)), url('/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
}

.heroLogo {
    display: block;
    margin:0 auto;
    max-width: 500px;
    width: 60vw;
}

.homePageHeader {
    font-size: 3.5vw;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 6vw 0 4vw;
}

.logo, .electric {
    height: 100px;
    width: 100px;
    
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.secondPageParagraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
}



@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-1px); }
    50% { transform: translateX(1px); }
    75% { transform: translateX(-1px); }
  }
  
  .shakeOnHover:hover {
    animation: shake 0.35s;
    animation-iteration-count: 1;
  }

/* MOBILE STYLES */
@media (max-width: 768px) {
    .homePageParagraph {
      font-size: 5.5vw;
    }
  
    .secondPageParagraph {
      font-size: 4vw;
    }
  
    .homeHero {
      padding-top: 15vw;
      padding-bottom: 15vw;
    }
  
    .twoColumnsSection {
      flex-direction: column;
    }
  
    .leftColumn {
      display: none;
    }
  
    .rightColumn {
      padding: 0 0 40px;
      display: flex;
      flex-direction: column; /* Add this to stack the elements */
      align-items: center; /* Center the elements horizontally */
    }
  
    .ctaHeader {
        text-align: center;
    }

    .ctaBody {
        text-align: center;
    }

    .iconsColumn {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }

    .iconsColumnImage {
        display: block;
        width: 60px;
        height: auto;
        margin: 0 auto;
    }
    
    .iconsColumnTitle {
    font-size: 1.25rem;
    margin-bottom: 5px;
    font-weight: 400;
    }
  }

/* WIDESCREEN STYLES */
@media screen and (min-width: 1920px) {
    .homePageParagraph {
        font-size: 60px;
    }

    .secondPageParagraph {
        font-size: 40px;
    }
    
    .homeHero {
        padding-top: 8vw;
        padding-bottom: 8vw;
    }
}