@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
  margin-block-end: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-section {
  background: linear-gradient(345deg, rgba(214, 238, 2, 0.616), rgba(2, 97, 160, 0.959)), url('/images/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 6vw 0 7vw;
  padding-bottom: 100px;
  background-blend-mode: multiply;
}

/* BUTTON STYLES */
.clear-btn-green-border {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 2px solid rgb(242, 242, 109);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.clear-btn-green-border:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.clear-btn-sm {
  background-color: transparent;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .1em;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.25s ease-in-out;
}

.clear-btn-sm:hover {
  background-color: rgb(157, 204, 79);
  transform: scale(1.07);
}


/* TEXT INPUT STYLES */
.text-input-white {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid rgb(247, 247, 247);
    outline: none;
    font-size: 1rem;
    font-family: 'Open Sans', 'Arial', sans-serif;
    transition: border-color 0.3s;
}

.text-input-white:hover,
.text-input-white:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255)62;
}

.text-input-white:focus,
.text-input-white:focus {
    box-shadow: 0 0 15px rgb(255, 255, 255)62;
}

.text-input-white::placeholder,
.text-input-white::placeholder {
    color: rgba(0, 0, 0, 0.54);
    opacity: .7;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-radius: 50px;
  border: 2px solid rgb(247, 247, 247);
}
  
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 15px rgb(255, 255, 255)62;
}
  
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 15px rgb(255, 255, 255)62;
}

.text-input-dark {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid rgb(247, 247, 247);
  font-size: 1rem;
  font-family: 'Open Sans', 'Arial', sans-serif;
  transition: border-color 0.3s;
}

.text-input-dark:hover,
.text-input-dark:hover {
  box-shadow: 0 0 15px rgb(255, 255, 255)62;
}

.text-input-dark:focus,
.text-input-dark:focus {
  box-shadow: 0 0 15px rgb(255, 255, 255)62;
}

.text-input-dark::placeholder,
.text-input-dark::placeholder {
  color: rgba(0, 0, 0, 0.54);
  opacity: .7;
}

.text-input-dark .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-radius: 50px;
  border: 2px solid rgb(247, 247, 247);
}
  
.text-input-dark .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-radius: 50px;
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0 0 15px rgb(255, 255, 255)62;
}
  
.text-input-dark, .text-input-dark .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-radius: 50px;
  border: 2px solid rgb(236, 236, 236);
  box-shadow: 0 0 15px rgb(255, 255, 255)62;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  .clear-btn-green-border {
  font-size: 1rem;
  }

}

.navbar {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: padding 0.3s ease-in-out;
}

.navbar.scrolled {
  padding: 5px 0;
}

.inner-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px 20px;
  transition: padding 0.3s ease-in-out;
}

.navbar.scrolled .inner-navbar {
  padding: 5px 10px;
}

.navbar.scrolled .navbar-link {
  font-size: 22px;
}

.navbar-link:hover,
.navbar-link.active {
  color: rgb(50, 179, 161);
}

.navbar-logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.navbar-logo {
  height: 50px;
  padding-top: 10px;
  transition: height 0.3s ease-in-out;
}

.navbar.scrolled .navbar-logo {
  height: 45px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.navbar-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-link {
  padding: 10px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(19, 19, 19);
  transition: all 0.3s ease-in-out;
  display: block;
}

@media screen and (max-width: 768px) {
  * {
    transition: none !important;
  }
  
  .navbar {
    top: 0;
  }

  .navbar.scrolled {
    padding: 0;
  }

  .inner-navbar {
    padding: 10px 10px;
  }

  .navbar.scrolled .inner-navbar {
    padding: 10px 10px;
  }

  .navbar-link {
    font-size: 20px;
    padding: 5px;
  }

  .navbar-logo-container {
    justify-content: center;
  }

  .navbar-logo {
    height: 35px;
  }

  .navbar.scrolled .navbar-logo {
    height: 35px;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  @media screen and (max-width: 480px) {
    .navbar-logo-container {
      justify-content: center;
    }
  }
}

.page-footer {
  padding: 15px 0;
  text-align: center;
  background-color: rgb(22, 22, 22);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-small-print,
.footer-header,
.footer-paragraph {
  color: rgba(255, 255, 255, 0.8);
}

.footer-small-print, Link
.footer-header, Link
.footer-paragraph, Link {
  color: rgb(242, 242, 109);
  text-decoration: none;
}

.footer-small-print, Link:hover,
.footer-header, Link:hover,
.footer-paragraph, Link:hover {
  color: rgb(241, 241, 203);
}

.footer-link {
  height: 100px;
  width: 100px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .footer-link {
  height: 80px;
  width: 80px;
  padding: 5px;
  }

  .page-footer {
      height: auto;
      width: auto;
      margin: auto;
      padding: 10px;
  }

}

/* icons section  */
.icons-section {
  padding: 8vw 0 0;
  margin: auto;
  }
  
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  }
  
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  }
  
.icons-section, .row {
  width: 80%;
  }
  
.icons-column {
  flex: 0 0 calc(33.333% - 20px);
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 0 15px;
  }
  
.icons-column-image {
      display: flex;
      justify-content: center;
      width: 100px;
      height: auto;
      margin: 0 auto;
  }
  
.icons-column-title {
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  }

/* Landing page */
html, .body {
  height: 100%;
  margin: 0;
}


.home-hero {
  margin: 0;
  padding-top: 8vw;
  padding-bottom: 10vw;
  background: linear-gradient(345deg, rgba(214, 238, 2, 0.616), rgba(2, 97, 160, 0.959)), url('/images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
}

.hero-logo {
  display: block;
  margin:0 auto;
  max-width: 500px;
  width: 60vw;
}

.home-page-header {
  font-size: 3.5vw;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 6vw 0 4vw;
}

.logo, .electric {
  height: 100px;
  width: 100px;
  
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.second-page-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
}



@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-1px); }
  50% { transform: translateX(1px); }
  75% { transform: translateX(-1px); }
}

.shake-on-hover:hover {
  animation: shake 0.35s;
  animation-iteration-count: 1;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .home-page-paragraph {
    font-size: 5.5vw;
  }

  .second-page-paragraph {
    font-size: 4vw;
  }

  .home-hero {
    padding-top: 15vw;
    padding-bottom: 15vw;
  }

  .two-columns-section {
    flex-direction: column;
  }

  .left-column {
    display: none;
  }

  .right-column {
    padding: 0 0 40px;
    display: flex;
    flex-direction: column; /* Add this to stack the elements */
    align-items: center; /* Center the elements horizontally */
  }

  .cta-header {
      text-align: center;
  }

  .cta-body {
      text-align: center;
  }

  .icons-column {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }

  .icons-column-image {
      display: block;
      width: 60px;
      height: auto;
      margin: 0 auto;
  }
  
  .icons-column-title {
  font-size: 1.25rem;
  margin-bottom: 5px;
  font-weight: 400;
  }
}

/* WIDESCREEN STYLES */
@media screen and (min-width: 1920px) {
  .home-page-paragraph {
      font-size: 60px;
  }

  .second-page-paragraph {
      font-size: 40px;
  }
  
  .home-hero {
      padding-top: 8vw;
      padding-bottom: 8vw;
  }
}