.sellerPageHeader {
    text-align: center;
    font-size: 40px;
    color: rgb(233, 255, 255);
}

.itemsSoldHeader, .itemsSellingHeader {
    font-size: 30px;
}

.postItemButton, .logoutButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-left: 355px;
}