.two-columns-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column-description {
    font-size: 16px;
    color: #666666;
    line-height: 1.8;
    }
      
    .signup-cta-section {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.45) 50%, rgba(255, 255, 255, 1)), 
    url('../../../public/assets/signup-bg.png');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: left bottom;
    padding: 50px 0;
    }
      
    
    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    }
    
    .columns {
    display: flex;
    justify-content: space-between;
    }
    
    .left-column {
    flex: 1;
    padding: 20px;
    padding-left: 10px;

    }
    
    .right-column {
    flex: 1;
    padding-left: 20px;
    padding-right: 10px;
    }
    
    .signup-cta-image {
    width: 60vw;
    max-width: 850px;
    height: auto;
    margin-top: -170px;
    margin-left: -40px;
    }
    
    .signup-cta-header, h2 {
    font-size: 36px;
    color: #333;
    font-weight: 700;
    margin-bottom: 10px;
    }
    
    .signup-cta-content {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    }
    
    .signup-cta-button-container {
    margin-top: 20px;
    }
    
    .signup-cta-button {
    background-color: rgb(71, 137, 8);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color .3s;
    transition: transform 0.25s ease-in-out;
    }
    
    .signup-cta-button:hover {
        background-color: rgb(157, 204, 79);
        transform: scale(1.05);
    }